<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Online Store</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "depot", :media => "all" %><!-- <label id="code.slt"/> -->
<!-- END:stylesheet -->
</head>
<body id="store">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || I18n.t('layout.title') %><!-- <label id="code.depot.e.title"/> -->
  </div>
  <div id="columns">
    <div id="side">
      <a href="http://www...."><%= I18n.t('layout.side.home') %></a><br />
      <a href="http://www..../faq"><%= I18n.t('layout.side.questions') %></a><br />
      <a href="http://www..../news"><%= I18n.t('layout.side.news') %></a><br />
      <a href="http://www..../contact"><%= I18n.t('layout.side.contact') %></a><br />
      
      <% if session[:user_id] %>
        <br />
        <%= link_to I18n.t('layout.side.orders'), :controller => 'orders' %><br />
        <%= link_to I18n.t('layout.side.products'), :controller => 'products' %><br />
        <%= link_to I18n.t('layout.side.users'), :controller => 'users' %><br />
        <br />
        <%= link_to I18n.t('layout.side.logout'), :controller => :admin, :action => 'logout' %>
      <% end %>

    </div>
    <div id="main">
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>            
      <%= yield :layout %><!-- <label id="code.depot.e.include"/> -->
    </div>
  </div>
</body>
</html>
